In [11]:
#importing the data
import pandas as pd

In [17]:
loadData = "/Users/ankbohra/Desktop/Covid/Resource/Caused of Deaths.csv"

In [18]:
#reading the death data
loadData = pd.read_csv(loadData)

In [19]:
loadData

,Country,ISO_CODE,Year,Deaths,Cause,Male POP,Female POP,Total Pop,GDP,PCAP
0,Afghanistan,AFG,1980,35000,Conflict and Terrorism,6788279.0,6568232.0,13356511.0,3.641723e+09,272.655286
1,Albania,ALB,1980,0,Conflict and Terrorism,1371795.0,1300202.0,2671997.0,NaN,NaN
2,Algeria,DZA,1980,0,Conflict and Terrorism,9682121.0,9539544.0,19221665.0,4.234528e+10,2202.997365
3,American Samoa,ASM,1980,0,Conflict and Terrorism,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,1980,5882,Conflict and Terrorism,4226098.0,4115191.0,8341289.0,5.930503e+09,710.981648
...,...,...,...,...,...,...,...,...,...,...
36855,Vietnam,VNM,2017,0,Other Injuries,47191019.0,47405623.0,94596642.0,2.237799e+11,2365.621666
36856,"Virgin Islands, U.S.",VGB,2017,0,Other Injuries,NaN,NaN,NaN,NaN,NaN
36857,Yemen,YEM,2017,21,Other Injuries,14027304.0,13807517.0,27834821.0,2.456133e+10,882.395759
36858,Zambia,ZMB,2017,0,Other Injuries,8342800.0,8510888.0,16853688.0,2.586814e+10,1534.865371
36859,Zimbabwe,ZWE,2017,64,Other Injuries,6777124.0,7459621.0,14236745.0,2.204090e+10,1548.170056

In [21]:
# creating a dataframe groupby Country and Cause of Death
deathdata = pd.DataFrame({"Deaths":loadData.groupby(["Country","Cause"])["Deaths"].sum()})

In [22]:
# after creating a dataframe we have total death cause by each factor in each country , then we reset the index
deathdata
deathdata = deathdata.reset_index()

In [88]:
deathdata

         Country                   Cause  Deaths
0    Afghanistan  Conflict and Terrorism  651211
1    Afghanistan               Epidemics    2352
2    Afghanistan                  Famine      36
3    Afghanistan        Natural Disaster   15350
4    Afghanistan          Other Injuries    5587
..           ...                     ...     ...
965     Zimbabwe  Conflict and Terrorism     750
966     Zimbabwe               Epidemics    8793
967     Zimbabwe                  Famine       0
968     Zimbabwe        Natural Disaster     299
969     Zimbabwe          Other Injuries    1052

[970 rows x 3 columns]

In [89]:
#here we create 5 data frame with respect to casue making as a main filter in each category 
tDeath = deathdata.loc[deathdata['Cause'] == 'Conflict and Terrorism']
eDeath = deathdata.loc[deathdata['Cause'] == 'Epidemics']
fDeath = deathdata.loc[deathdata['Cause'] == 'Famine']
nDeath = deathdata.loc[deathdata['Cause'] == 'Natural Disaster']
oDeath = deathdata.loc[deathdata['Cause'] == 'Other Injuries']

In [90]:
# after filter we will have a total death casue with that catergory within all country 
eDeath

                  Country      Cause  Deaths
1             Afghanistan  Epidemics    2352
6                 Albania  Epidemics      25
11                Algeria  Epidemics     173
16         American Samoa  Epidemics       0
21                 Angola  Epidemics   12912
..                    ...        ...     ...
946               Vietnam  Epidemics    1712
951  Virgin Islands, U.S.  Epidemics       0
956                 Yemen  Epidemics    2080
961                Zambia  Epidemics   12083
966              Zimbabwe  Epidemics    8793

[194 rows x 3 columns]

In [91]:
# then we want to extract the two column as Cause of death is same of all the country 
tDeath = tDeath[['Country', 'Deaths']].copy()
eDeath = eDeath[['Country', 'Deaths']].copy()
fDeath = fDeath[['Country', 'Deaths']].copy()
nDeath = nDeath[['Country', 'Deaths']].copy()
oDeath = oDeath[['Country', 'Deaths']].copy()

In [92]:
# update the columns name from death to maain cause of death 
tDeath = tDeath.rename(columns= {'Deaths': 'Conflict and Terrorism'})

In [93]:
tDeath

                  Country  Conflict and Terrorism
0             Afghanistan                  651211
5                 Albania                    2101
10                Algeria                   30919
15         American Samoa                      10
20                 Angola                  110906
..                    ...                     ...
945               Vietnam                     275
950  Virgin Islands, U.S.                       4
955                 Yemen                   65961
960                Zambia                     227
965              Zimbabwe                     750

[194 rows x 2 columns]

In [94]:
eDeath = eDeath.rename(columns= {'Deaths': 'Epidemics'})

In [95]:
eDeath

                  Country  Epidemics
1             Afghanistan       2352
6                 Albania         25
11                Algeria        173
16         American Samoa          0
21                 Angola      12912
..                    ...        ...
946               Vietnam       1712
951  Virgin Islands, U.S.          0
956                 Yemen       2080
961                Zambia      12083
966              Zimbabwe       8793

[194 rows x 2 columns]

In [96]:
fDeath = fDeath.rename(columns= {'Deaths': 'Famine'})

In [97]:
fDeath

                  Country  Famine
2             Afghanistan      36
7                 Albania       0
12                Algeria       0
17         American Samoa       0
22                 Angola      58
..                    ...     ...
947               Vietnam       0
952  Virgin Islands, U.S.       0
957                 Yemen       0
962                Zambia       0
967              Zimbabwe       0

[194 rows x 2 columns]

In [98]:
nDeath = nDeath.rename(columns= {'Deaths': 'Natural Disaster'})

In [99]:
oDeath = oDeath.rename(columns= {'Deaths': 'Other Injuries'})

In [100]:
# Merging each data frame to one by one 
worldDeath = pd.merge(tDeath,eDeath, on=["Country"], how="inner")

In [101]:
worldDeath

                  Country  Conflict and Terrorism  Epidemics
0             Afghanistan                  651211       2352
1                 Albania                    2101         25
2                 Algeria                   30919        173
3          American Samoa                      10          0
4                  Angola                  110906      12912
..                    ...                     ...        ...
189               Vietnam                     275       1712
190  Virgin Islands, U.S.                       4          0
191                 Yemen                   65961       2080
192                Zambia                     227      12083
193              Zimbabwe                     750       8793

[194 rows x 3 columns]

In [102]:
worldDeath = pd.merge(worldDeath,fDeath, on=["Country"], how="inner")

In [103]:
worldDeath

                  Country  Conflict and Terrorism  Epidemics  Famine
0             Afghanistan                  651211       2352      36
1                 Albania                    2101         25       0
2                 Algeria                   30919        173       0
3          American Samoa                      10          0       0
4                  Angola                  110906      12912      58
..                    ...                     ...        ...     ...
189               Vietnam                     275       1712       0
190  Virgin Islands, U.S.                       4          0       0
191                 Yemen                   65961       2080       0
192                Zambia                     227      12083       0
193              Zimbabwe                     750       8793       0

[194 rows x 4 columns]

In [104]:
worldDeath = pd.merge(worldDeath,nDeath, on=["Country"], how="inner")

In [105]:
worldDeath = pd.merge(worldDeath,oDeath, on=["Country"], how="inner")

In [106]:
#this is our final data frame for which show causued of death in each country 
worldDeath

,Country,Conflict and Terrorism,Epidemics,Famine,Natural Disaster,Other Injuries
0,Afghanistan,651211,2352,36,15350,5587
1,Albania,2101,25,0,96,222
2,Algeria,30919,173,0,6820,1711
3,American Samoa,10,0,0,41,0
4,Angola,110906,12912,58,703,1805
...,...,...,...,...,...,...
189,Vietnam,275,1712,0,15281,2104
190,"Virgin Islands, U.S.",4,0,0,17,0
191,Yemen,65961,2080,0,3140,3923
192,Zambia,227,12083,0,69,1159
193,Zimbabwe,750,8793,0,299,1052

In [107]:
#Laoding coronovirus data set 
covidData = "/Users/ankbohra/Desktop/ETL-PROJECT/Covid/Resource/coviddata.csv"

In [108]:
covidData1 = pd.read_csv(covidData)

In [109]:
covidData1

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,Global,178503429,2290.108471,2504100,32.126333,281610,3872457,49.681659,60068,0.770642,6349,NaN
1,United States of America,Americas,33190195,10027.170000,49697,15.010000,0,596003,180.060000,1359,0.410000,0,Community transmission
2,India,South-East Asia,29977861,2172.300000,406980,29.490000,42640,389302,28.210000,12271,0.890000,1167,Clusters of cases
3,Brazil,Americas,17927928,8434.310000,515162,242.360000,44178,501825,236.090000,14424,6.790000,1025,Community transmission
4,France,Europe,5650315,8687.530000,14066,21.630000,290,109879,168.940000,307,0.470000,39,Community transmission
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0,No cases
234,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0,No cases
235,Tonga,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0,No cases
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0,No cases
237,Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0,No cases

In [110]:
# we are extracting only 3 column for our analysis
covidData2 = covidData1[["Name", "WHO Region", "Deaths - cumulative total"]]

In [111]:
covidData2

                         Name       WHO Region  Deaths - cumulative total
0                      Global           Global                    3872457
1    United States of America         Americas                     596003
2                       India  South-East Asia                     389302
3                      Brazil         Americas                     501825
4                      France           Europe                     109879
..                        ...              ...                        ...
233              Saint Helena           Africa                          0
234                   Tokelau  Western Pacific                          0
235                     Tonga  Western Pacific                          0
236              Turkmenistan           Europe                          0
237                    Tuvalu  Western Pacific                          0

[238 rows x 3 columns]

In [112]:
# rename the coume 
covidData2 = covidData2.rename(columns= {'Name': 'Country'})

In [113]:
# merging our world heath and covidData2 data frame 
Totaldeath = pd.merge(worldDeath,covidData2, on=["Country"], how="inner")

In [114]:
Totaldeath

,Country,Conflict and Terrorism,Epidemics,Famine,Natural Disaster,Other Injuries,WHO Region,Deaths - cumulative total
0,Afghanistan,651211,2352,36,15350,5587,Eastern Mediterranean,4293
1,Albania,2101,25,0,96,222,Europe,2454
2,Algeria,30919,173,0,6820,1711,Africa,3641
3,American Samoa,10,0,0,41,0,Western Pacific,0
4,Angola,110906,12912,58,703,1805,Africa,868
...,...,...,...,...,...,...,...,...
164,Uzbekistan,877,376,0,61,27,Europe,720
165,Vanuatu,0,0,0,233,0,Western Pacific,0
166,Yemen,65961,2080,0,3140,3923,Eastern Mediterranean,1355
167,Zambia,227,12083,0,69,1159,Africa,1691
168,Zimbabwe,750,8793,0,299,1052,Africa,1685

In [115]:
Totaldeath = Totaldeath.rename(columns={"Deaths - cumulative total": "Coronovirus"})

In [116]:
# Extracting the data fram to CSV file 
Totaldeath.to_csv("Totaldeath.csv")

In [117]:
#deathByReagion = pd.DataFrame({"Conflict and Terrorism": Totaldeath.groupby(["WHO Region"]),["Conflict and Terrorism"].sum()})
deathByReagion = pd.DataFrame({"Terrorism":Totaldeath.groupby(["WHO Region"])["Conflict and Terrorism"].sum(),
                "Epidemics":Totaldeath.groupby(["WHO Region"])["Epidemics"].sum(),
                "Famine":Totaldeath.groupby(["WHO Region"])["Famine"].sum(),
                "Natural Disaster":Totaldeath.groupby(["WHO Region"])["Natural Disaster"].sum(),
                "Coronovirus":Totaldeath.groupby(["WHO Region"])["Coronovirus"].sum(),
                "Other Injuries":Totaldeath.groupby(["WHO Region"])["Other Injuries"].sum()

})

In [118]:
# we can also analysis cause of death happen in WHO region
deathByReagion

,Terrorism,Epidemics,Famine,Natural Disaster,Coronovirus,Other Injuries
WHO Region,,,,,,
Africa,1823865,287772,404955,28333,90375,130887
Americas,228841,35233,373,321093,1248408,230299
Eastern Mediterranean,1802661,27885,170804,115708,124132,88559
Europe,190519,15969,0,71742,1002644,95597
South-East Asia,335043,23348,1593,702335,474870,105719
Western Pacific,91351,12934,3446,219750,50273,45335

In [119]:
#Loading our data to the AWS database , imorit boto3 service 
import boto3
# Let's use Amazon S3
s3 = boto3.resource('s3')

In [120]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

employee99
testdata99
umemppoyment

In [121]:
datauuuu = open('/Users/ankbohra/Desktop/ETL-PROJECT/Covid/Totaldeath.csv', 'rb')

In [122]:
s3.Bucket('umemppoyment').put_object(Key='newMerge1', Body=datauuuu)

s3.Object(bucket_name='umemppoyment', key='newMerge1')